* {
    background-color:#FEFB1E;
    text-align: center;
    font-size: 20px;
 }

 button{
    font-size: 30px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
  }
  button:before {
    content: open-quote;
  /*   display: inline; */
  /*   height: 0; */
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #9cf0e6;
    font-size: 3em;
  }